<div class="jumbotron">
    <h1>Message Logger API</h1>
    <p class="lead">Logger API for application messages logging...</p>
    <p>@Html.ActionLink("API Documentation >>", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>We allow applications to register themselves before using the api.</p>
        <p>@Html.ActionLink("Learn more >>", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Authenticate</h2>
        <p>We provide basic authentication for clients before allowing them to log message.</p>
        <p>@Html.ActionLink("Learn more >>", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Log</h2>
        <p>Logging messages service is an asynchronous service that allows authenticated clients to log messages.</p>
        <p>@Html.ActionLink("Learn more >>", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
